{% extends "partials/base.html" %}



{% block content %}

  <!-- Task Grid -->  
  <div class="row g-5 my-5" id="taskGrid">
    {% for task in tasks %}
      <div class="col-md-4">
        <!-- ignora esse erro, o html não está reconhecendo o jinja -->
        <div 
          class="d-flex custom-card " 
          style="border-color: {{ task.color }}"
          data-id="{{ task.identificator }}"> 

          <div class="flex-grow-1">
            <h3>{{ task.title }}</h3>
            <p>Today: {{  task.today_total_time  }}</p>
            <p>Week: {{  task.week_total_time  }}</p>
          </div>

          <div class="flex-shrink-0">
            <canvas id="myPieChart-{{ task.identificator }}" style="max-width: 150px; max-height: 150px;"></canvas>
          </div>

        </div>
      </div>
    {% endfor %}
  </div>

  
  <!-- <div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <canvas id="myPieChart"></canvas>
        </div>
        <div class="col-md-8"></div>
    </div>
  </div>
 -->

  <!-- Button New Task -->

  <div class="d-grid py-3 mb-5">
    <button class="btn btn-primary py-3 fs-5" type="button" data-bs-toggle="modal" data-bs-target="#newTask">New Task</button>
  </div>


  <!-- Modal New Task -->

  <div class="modal fade primary-modal" id="newTask"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newTaskLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="newTaskLabel">New Task</h3>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row g-3">
              <div class="col-md-10">
                <label for="taskName" class="form-label modal-label">Task Name</label>
                <input type="text" class="form-control" id="taskName" placeholder="Digite algo">
              </div>
              <div class="col-md-2">
                <label for="taskColor" class="form-label modal-label">Color</label>
                <input type="color" class="form-control form-control-color" id="taskColor" value="#563d7c">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary w-100 fs-5 py-3" type="button" id="createTaskButton">Create Task</button>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <h2 class="mt-5">Last 365 Days</h2>

    <div class="py-4 px-4 my-5" id="github-container">
        <div id="heatmap-container"></div>
    </div>
  


{% endblock %}

{% block script %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

  <script src="{{ url_for('static', filename='js/my_tasks/chart_menu_tasks.js') }}"></script>
  <script src="{{ url_for('static', filename='js/my_tasks/create_task.js') }}"></script>
  <script src="{{ url_for('static', filename='js/my_tasks/jquery.heatmap.js') }}"></script>


 


  <script>

    document.getElementById('taskGrid').addEventListener('click', function(event) {
      const card = event.target.closest('.custom-card');
      if (card) {
          const taskId = card.getAttribute('data-id');
          if (taskId) {
            window.location.href = `/task/${taskId}`;
          }
      }
    });

    $(document).ready(function () {
      function generateLast365DaysData() {
          let data = [];
          let today = new Date();
          
          for (let i = 0; i < 365; i++) {
              let date = new Date();
              date.setDate(today.getDate() - i);
              let formattedDate = date.toISOString().split('T')[0]; // Formato YYYY-MM-DD
  
              data.push({
                  date: formattedDate,
                  count: Math.floor(Math.random() * 101) // Número aleatório entre 0 e 100
              });
          }
  
          return data;
      }
  
      $('#heatmap-container').heatmap({
          data: generateLast365DaysData(),
          cellSize: 25,
          gutter: 8,
          colors: {
              0: '#303030',
              0.25: '#c6e48b',
              0.5: '#7bc96f',
              0.75: '#239a3b',
              1: '#196127'
          },
          locale: 'en-US',
          debug: true // Para verificar se está carregando corretamente no console
      });
    });
  
    
    function inicializateToDoTooltips(){
      const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
      const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl);
      });
      console.log(`Tooltip List: ${tooltipList}`)
    };


    document.addEventListener('DOMContentLoaded', function () {
      inicializateToDoTooltips();
    });



  </script>
{% endblock %}
