{% extends "base.html" %}


{% block content %}

  <!-- Task Grid -->  
  <div class="row g-5 my-5" id="taskGrid">
    {% for task in tasks %}
      <div class="col-md-4">
        <!-- ignora esse erro, o html não está reconhecendo o jinja -->
        <div 
          class="d-flex custom-card " 
          style="border-color: {{ task.color }}"
          data-id="{{ task.identificator }}"> 

          <div class="flex-grow-1">
            <h3>{{ task.title }}</h3>
            <p>Today: {{  task.today_total_time  }}</p>
            <p>Week: {{  task.week_total_time  }}</p>
          </div>

          <div class="flex-shrink-0">
            <canvas id="myPieChart-{{ task.identificator }}" style="max-width: 150px; max-height: 150px;"></canvas>
          </div>

        </div>
      </div>
    {% endfor %}
  </div>

  
  <!-- <div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <canvas id="myPieChart"></canvas>
        </div>
        <div class="col-md-8"></div>
    </div>
  </div>
 -->

  <!-- Button New Task -->

  <div class="d-grid py-3 mb-5">
    <button class="btn btn-primary py-3 fs-5" type="button" data-bs-toggle="modal" data-bs-target="#newTask">New Task</button>
  </div>


  <!-- Modal New Task -->

  <div class="modal fade primary-modal" id="newTask"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newTaskLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="newTaskLabel">New Task</h3>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row g-3">
              <div class="col-md-10">
                <label for="taskName" class="form-label modal-label">Task Name</label>
                <input type="text" class="form-control" id="taskName" placeholder="Digite algo">
              </div>
              <div class="col-md-2">
                <label for="taskColor" class="form-label modal-label">Color</label>
                <input type="color" class="form-control form-control-color" id="taskColor" value="#563d7c">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary w-100 fs-5 py-3" type="button" id="createTaskButton">Create Task</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/chart_menu_tasks.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='js/create_task.js') }}"></script>

  <script>

    document.getElementById('taskGrid').addEventListener('click', function(event) {
      const card = event.target.closest('.custom-card');
      if (card) {
          const taskId = card.getAttribute('data-id');
          if (taskId) {
            window.location.href = `/tasks/${taskId}`;
          }
      }
  });

  </script>
{% endblock %}
