{% extends "partials/base.html" %}
{% set exclude_header = true %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4 shadow-lg" style="max-width: 400px; width: 100%">
            <h3 class="text-center mb-4">Create Account</h3>
            <form id="registerForm">
                <!-- Email input -->
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" id="email" class="form-control" placeholder="Enter your e-mail" required>
                </div>

                <!-- Username input -->
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input id="username" class="form-control" placeholder="Enter your username" required>
                </div>
                
                <!-- Password input -->
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" class="form-control" placeholder="Enter your password" required>
                </div>

                
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary w-100" id="createAccountButton">Create Account</button>
                
                <!-- Register & Social Login -->
                <div class="text-center mt-3">
                    <p>Already a member? <a href="{{ url_for('home.home') }}" class="text-primary">Sign In</a></p>
                </div>
            </form>
        </div>
    </div>


    <!-- Toast message -->
    <div class="toast-container position-fixed top-0 end-0 p-3" id="toastContainer"></div>


{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/toast.js') }}"></script>
    <script src="{{ url_for('static', filename='js/auth/register.js') }}"></script>



{% endblock %}
